header {
  grid-area: intro;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
header h1 {
  margin-bottom: 10px;
}
header p.links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0.25em;
}
header p.links a {
  margin: 0em 25%;
}
header p#intro {
  margin: 0px;
}

section#proj1 {
  grid-area: p1;
}

section#proj2 {
  grid-area: p2;
}

section#proj3 {
  grid-area: p3;
}

section#proj4 {
  grid-area: p4;
}

section#proj5 {
  grid-area: p5;
}

section#proj6 {
  grid-area: p6;
}

section#proj7 {
  grid-area: p7;
}

section#proj8 {
  grid-area: p8;
}

aside#x1 {
  grid-area: mL;
}

aisde#x2 {
  grid-area: mR;
}

main {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5em;
  grid-template-rows: auto;
  grid-row-gap: 1.25em;
  grid-template-areas: 'p1 p2' 'p3 p4' 'p5 p6' 'p7 p8';
}

body {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 2em;
  grid-template-areas: 'mL intro mR' 'mL content mR';
}

@media only screen and (min-width: 800px) {
  main {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-template-rows: auto;
    grid-row-gap: 1.25em;
    grid-template-areas: 'p1 p2 p3' 'p4 p5 p6' 'p7 p8 .';
  }

  body {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 2em;
    grid-template-areas: 'mL intro mR' 'mL content mR';
  }
}
@media only screen and (min-width: 1200px) {
  main {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-template-rows: auto;
    grid-row-gap: 1.25em;
    grid-template-areas: 'p1 p2 p3 p4' 'p5 p6 p7 p8';
  }

  body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 2em;
    grid-template-areas: 'mL intro mR' 'mL content mR';
  }
}
body {
  background-color: black;
}

header p.links a {
  color: red;
  text-decoration: none;
  padding: 0.25em;
  box-sizing: border-box;
}
header p.links a:active {
  color: red;
  text-decoration: none;
}

header p a:hover {
  background-color: white;
  color: black;
  transition: background-color 0.5s;
}

section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
section a.links {
  color: red;
  text-decoration: none;
  padding: 0.25em;
  box-sizing: border-box;
}
section a.links:active {
  color: red;
  text-decoration: none;
}
section a.links:hover {
  color: white;
}

figure.square, h2.square {
  max-width: 100%;
  margin: 0em;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

p.description {
  height: auto;
}

#proj1 figure {
  background-image: url("../img/bashThumbnail.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#proj1 h2 {
  background-color: #FF8668;
  opacity: 0;
  transition: opacity 0.5s;
}

#proj1 h2:hover {
  opacity: 1;
}

#proj2 figure {
  background-image: url("../img/loveThumb.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#proj2 h2 {
  background-color: #FFF158;
  opacity: 0;
  transition: opacity 0.5s;
}

#proj2 h2:hover {
  opacity: 1;
}

#proj3 figure {
  background-image: url("../img/forest.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#proj3 h2 {
  background-color: #90C485;
  opacity: 0;
  transition: opacity 0.5s;
}

#proj3 h2:hover {
  opacity: 1;
}

#proj4 figure {
  background-image: url("../img/spriteSheetThumb.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#proj4 h2 {
  background-color: #8CCAFF;
  opacity: 0;
  transition: opacity 0.5s;
}

#proj4 h2:hover {
  opacity: 1;
}

#proj5 figure {
  background-image: url("../img/animationThumb.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#proj5 h2 {
  background-color: #8CCAFF;
  opacity: 0;
  transition: opacity 0.5s;
}

#proj5 h2:hover {
  opacity: 1;
}

#proj6 figure {
  background-image: url("../img/parallaxThumb.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#proj6 h2 {
  background-color: #90C485;
  opacity: 0;
  transition: opacity 0.5s;
}

#proj6 h2:hover {
  opacity: 1;
}

#proj7 figure {
  background-image: url("../img/platterThumb.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#proj7 h2 {
  background-color: #FFF158;
  opacity: 0;
  transition: opacity 0.5s;
}

#proj7 h2:hover {
  opacity: 1;
}

#proj8 figure {
  background-image: url("../img/vr-soundThumb.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#proj8 h2 {
  background-color: #FF8668;
  opacity: 0;
  transition: opacity 0.5s;
}

#proj8 h2:hover {
  opacity: 1;
}

h2 a {
  color: black;
  text-decoration: none;
}

h2 a:active {
  color: black;
}

main h2 {
  color: white;
}
main p {
  padding: 0em 0.25em;
}

h1, p {
  color: white;
}

h1 {
  font-family: ta-rb, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36pt;
}

h2 {
  font-family: ta-rb, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36pt;
  font-size: 130%;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
}

p#intro {
  font-size: 12pt;
}
