@import "mixins";

body {
    background-color: black;
}

//
header {
    p.links {
        // width: auto;
        a {
            color: $rgbRed;
            text-decoration: none;
            padding: 0.25em;
            box-sizing: border-box;
        }
        a:active{
            color: $rgbRed;
            text-decoration: none;
        }
    }
}

header p a:hover {
    background-color: $white;
    color: $black;
    transition: background-color 0.5s;
}


// Sylting for the imaegs and the h2s that are associated with them
// size is partly set in the main.js
// the same type of styling is applied to #proj$ with thumbnail and hoverSetup mixins

// sets the size for the figure and the child h2. they are the same size. 
// centered the text with flexCenter

section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

figure.square, h2.square {
    max-width: 100%;
    margin: 0em;
    @include flexCenter;
    border-radius: 100%;
}

p.description {
    height: auto;
}

// 1st project
#proj1 {
    figure {
        @include thumbnail("../img/bashThumbnail.png");
    }
    h2 {
        @include hoverSetup($red);
    }
}
#proj1 h2:hover {
    opacity: 1;
}

//2nd project
#proj2 {
    figure {
        @include thumbnail("../img/loveThumb.png");
    }
    h2 {
        @include hoverSetup($yellow);
    }
}
#proj2 h2:hover {
    opacity: 1;
}

//3rd project
#proj3 {
    figure {
        @include thumbnail("../img/forest.jpg");
    }
    h2 {
        @include hoverSetup($green);
    }
}
#proj3 h2:hover {
    opacity: 1;
}

// 4th project
#proj4 {
    figure {
        @include thumbnail("../img/spriteSheetThumb.png");
    }
    h2 {
        @include hoverSetup($blue);
    }
}
#proj4 h2:hover {
    opacity: 1;
}

// 5th project
#proj5 {
    figure {
        @include thumbnail("../img/animationThumb.png");
    }
    h2 {
        @include hoverSetup($blue);
    }
}
#proj5 h2:hover {
    opacity: 1;
}

// 6th project
#proj6 {
    figure {
        @include thumbnail("../img/parallaxThumb.png");
    }
    h2 {
        @include hoverSetup($green);
    }
}

#proj6 h2:hover {
    opacity: 1;
}

#proj7 {
    figure {
        @include thumbnail("../img/platterThumb.png");
    }
    h2 {
        @include hoverSetup($yellow);
    }
}

#proj7 h2:hover {
    opacity: 1;
}

#proj8 {
    figure {
        @include thumbnail("../img/vr-soundThumb.png");
    }
    h2 {
        @include hoverSetup($red);
    }
}

#proj8 h2:hover {
    opacity: 1;
}

// anchor tag styling
h2 a {
    color: $black;
    text-decoration: none;
}

h2 a:active {
    color: $black
}

main {
    h2 {
        color: $white;
    }
    p {
        padding: 0em 0.25em;
    }
}