

// sets a background image for the figure tags.
@mixin thumbnail($img) {
    background-image: url($img);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

// sets up a flex box for content to be centered
// vertically and horizontally. Mainly for text.
@mixin flexCenter() {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

// sets up the h2s for their hover state,
// using custom color.
@mixin hoverSetup($color) {
    background-color: $color;
    opacity: 0;
    transition: opacity 0.5s;
}