// COLORS
$testColor: rgba(255, 0, 0, 0);
$projLink: rgb(65, 57, 57);
$red: #FF8668;
$yellow: #FFF158;
$green: #90C485;
$blue: #8CCAFF;
$pink: #FFA3D4;



//TYPE
$slab: 'Courier New', Courier, monospace;