@import "variables";
@import "layout";
@import "base";
@import "mixins";

// .box {
//     max-width: 
// }

h2.square {
    background-color: lightcyan;
    max-width: 100%;
    margin: 0em;
    @include flexCenter;
}

#proj1 >h2 {
    @include thumbnail("../img/bashThumbnail.png");
}

h2#proj2 {
    @include thumbnail("../img/.png");
}

h2#proj3 {
    @include thumbnail("../img/forest.jpg");
}

h2#proj4 {
    @include thumbnail("../img/bashThumbnail.png");
}
