[submodule "SpriteSheets"]
	path = SpriteSheets
	url = https://github.com/xerrf/SpriteSheets.git
[submodule "a-frame"]
	path = a-frame
	url = https://github.com/xerrf/a-frame.git
[submodule "a-frameTesting"]
	path = a-frameTesting
	url = https://github.com/xerrf/a-frameTesting
